@import "src/globals/constants/colors";

.optionsWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  border: 1px solid $border-color;
  padding: 2px;
  margin: 0 4px 4px 0;

  .column {
    flex: 1;
  }

  .optionsIconWrapper {
    align-self: flex-start;

    .closeIcon {
      fill: $gray-color;
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin: 4px;

      &:hover {
        fill: $hover-color-dark;
      }
    }
  }

  .inputDiv {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
