@import "src/globals/constants/colors";

.reference_wrapper {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid $border-color;
  padding: 4px;
  margin-bottom: 4px;

  .custom_input {
    flex: auto;
    margin: 4px;
  }

  .closeIcon {
    fill: $gray-color;
    width: 15px;
    height: 15px;
    margin: 4px;
    cursor: pointer;

    &:hover {
      fill: $hover-color-dark;
    }
  }
}
