@import "src/globals/constants/colors";

.reference_wrapper {
    display: flex;
    align-items: center;
}
.predefined_input {
    flex: 1;
    margin: 4px;
}
.custom_input {
    flex: auto;
    margin: 4px;
}

.predefined_input {
    &:disabled {
        background-color: $input-disabled-background;
    }
    flex: 1;
    margin: 4px;
}
