$blue-background: #049fd9;
$white-color: #fff;
$border-color: #dfdfdf;
$hover-color-dark: #0083b3;
$hover-color-light: #e6f3f7;
$header-text-color: #39393b;
$input-disabled-background: #f9f9f9;
$gray-color: #7f7f86;
$selection-color: #7dbcff;
$black-color: #000;
$danger-color:  #cf2030;
