@import "src/globals/constants/colors";

.header {
  width: 100%;
  height: 49px;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $border-color;
  background-color: $white-color;
  display: flex;
  align-items: center;
  overflow: visible;
  z-index: 2;

  .iconCiscoLogo {
    fill: $blue-background;
    width: 38px;
    height: 20px;
    margin-right: 20px;
  }

  .headerTitle {
    white-space: nowrap;
    margin: 0;
  }
}
