@import "src/globals/constants/colors";

.content {
  margin-left: 250px;
  padding: 55px 10px 0 10px;
  display: flex;
  flex-direction: column;

  .title {
    flex: 1;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0;
    font-size: 24px;
    color: $header-text-color;
    padding-bottom: 14px;
    border-bottom: 1px solid $border-color;
  }

  .requiredField {
    color: $required-sign-color;
    display: inline;
  }

  textarea {
    border: 1px solid $border-color;
    font: 400 14px CiscoSans, Arial, sans-serif;
    border-radius: 5px;
    height: 20px;
    padding: 5px 0 0 6px;
    resize: vertical;
  }

  .mde-preview {
    font-size: 14px;
  }

  input {
    &:not([type="checkbox"]) {
      border: 1px solid $border-color;
      font: 400 14px CiscoSans, Arial, sans-serif;
      border-radius: 5px;
      height: 19px;
      padding: 5px;
    }
  }

  select {
    border: 1px solid $border-color;
    font: 400 14px CiscoSans, Arial, sans-serif;
    border-radius: 5px;
    height: 32px;
    padding: 5px;
  }

  fieldset {
    border-radius: 3px;
    border: 1px solid $border-color;
    padding: 4px;
    margin: 0;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    size: 10px;
    padding: 0;
    margin: 3px 8px 3px 8px;
    border: 2px;
  }

  .row {
    flex: 1;
    display: flex;

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 5px;

      p {
        margin: 4px 0 6px 0;
      }
    }
  }
}
