@import "src/globals/constants/colors";

.addNewButton {
  flex: 1;
  height: 28px;
  min-width: 75px;
  color: $white-color;
  background-color: $blue-background;
  border-radius: 3px;
  border: 0;
  box-shadow: none;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  margin: 4px;
}

.confSpecWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  border: 1px solid $border-color;
  padding: 4px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.inputDiv {
  flex: 1;
  display: flex;
  align-items: center;
}

.customInput {
  flex: 1;
  margin: 4px;
}

.checkbox {
  margin-top: 4px;
  margin-bottom: 4px;
}

.closeIcon {
  fill: $close-icon-fill;
  width: 15px;
  height: 15px;
}

.optionsIconWrapper {
  flex: 1;
  align-self: flex-end;
}

.optionsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid $border-color;
  padding: 4px;
}