input.img-upload {
  color: #f9f9f9;
  width: 98%;
  border: 1px dashed #000;
  vertical-align: middle;

  &:hover {
    border: 1px dashed #67a5c5;
  }
}

.img-wrapper {
  .drag {
    align-items: end;
    min-width: 80px;
    margin-top: -80px;
    margin-bottom: 47px;
    align-content: center;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 12px;
  }
}
