@import "src/globals/constants/colors";

.reference_wrapper {
  display: flex;
  align-items: center;

  .predefined_input {
    flex: 1;
    margin: 4px;

    &:disabled {
      background-color: $input-disabled-background;
    }
  }
}
